# database settings
DB_NAME=as_test
DB_USER=user
DB_PASSWORD=12345

#DJango
SECRET_KEY=your-secret
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

# Django admin accoint
ADMIN_URL=backoffice
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=adminpass

# GoogleAuth
GOOGLE_CLIENT_ID=xxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=yyyyyyyyyyyyyyyy