h3, h4 {
    text-align: center;
}



/*Dark theme switcher*/
body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.dark .btn {
    border-color: #ffffff;
    color: #ffffff;
}

body.dark input,
body.dark textarea,
body.dark select {
    background-color: #1e1e1e;
    color: #fff;
    border-color: #555;
}



